body{
    background-color: black;
    color: white;
    font-family: 'Fira Code';font-size: 22px;
    }
    
    h1 {
    color: rgb(100, 21, 21);
    }
    
    h6{
    color: rgb(100, 21, 21);
    text-decoration: underline;
    }