@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Fira Code', monospace;
    }
    
    h1 {
    color: rgb(100, 21, 21);
    }
    
    h6{
    color: rgb(100, 21, 21);
    text-decoration: underline;
    }