@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

body{
    background-color: black;
    color: white;
    font-family: 'Fira Code', monospace;
    }
    
    h1 {
    color: rgb(100, 21, 21);
    }
    
    h6{
    color: rgb(100, 21, 21);
    text-decoration: underline;
    }